@import url("https://fonts.googleapis.com/css2?family=Jersey+10&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jersey 10", sans-serif;
}

mark {
  background: transparent;
  color: red;
}

body {
  height: 100vh;
  display: flex;
  background-image: url("https://cdn.glitch.global/453141a9-03da-4a42-8a32-dd1ed98de004/CQx.gif?v=1716754226761");
  justify-content: center;
}

.logo {
  position: absolute;
  top: 0%;
  left: 0%;

  width: 105px;
  height: 59px;
}

.img-slider {
  position: absolute;
  width: 90%;
  height: 60%;
  margin: 10px;
  margin-top: 60px;
  background: transparent;
}

.img-slider .slide {
  z-index: 1;
  position: absolute;
  width: 100%;
  clip-path: circle(0% at 0 50%);
}

.img-slider .slide.active {
  clip-path: circle(150% at 0 50%);
  transition: 1s;
  transition-property: clip-path;
}

.img-slider .slide img {
  z-index: 1;
  width: 100%;
  height: 250px;
  border-radius: 7px;
  border: #7d42fd solid 4px;
}

.img-slider .slide .info {
  position: absolute;
  top: 0;
  padding: 15px 30px;
}

.img-slider .slide .info .info-button {
  position: absolute;
  bottom: -100px;
  left: 12px;

  padding: 15px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  border: 0px;
  font-weight: 700;
  font-size: 20px;
  box-shadow: 0px 0px 14px -7px #a67dff;
  background-image: linear-gradient(
    45deg,
    #a67dff 0%,
    #6a26ff 51%,
    #a67dff 100%
  );
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.img-slider .slide .info .info-button:hover {
  background-position: right center;
  color: #ffffff;
  text-decoration: none;
}

.img-slider .slide .info .info-button:active {
  transform: scale(0.95);
}

.img-slider .slide .info h2 {
  color: #ffffff;
  font-size: 45px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2px;
}

.img-slider .slide .info p {
  color: #ffffff;
  background: rgba(0, 0, 0, 0.1);
  font-size: 16px;
  width: 60%;
  padding: 10px;
  border-radius: 4px;
}

.img-slider .navigation {
  z-index: 2;
  position: absolute;
  display: flex;
  bottom: 65px;
  left: 92%;
  transform: translateX(-50%);
}

.img-slider .navigation .btn {
  background: rgba(255, 255, 255, 0.5);
  width: 10px;
  height: 10px;
  margin: 6px;
  border-radius: 50%;
  cursor: pointer;
}

.img-slider .navigation .btn.active {
  background: #ffffff;
}

.sector {
  position: absolute;
  width: 70%;
  height: 40%;
  top: 65%;
  background: transparent;
  border-radius: 7px;
  border: #7d42fd solid 4px;
  left: 5%;
}

.sector img {
  width: 100%;
  height: 100%;
}

.minisector {
  position: absolute;
  width: 18%;
  height: 40%;
  top: 65%;
  background: transparent;
  border-radius: 7px;
  border: #7d42fd solid 4px;
  left: 77%;
}

.minisector img {
  width: 100%;
  height: 100%;
}





@media (min-width: 1920px) {
  .img-slider {
    width: 90%;
    height: 300px;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .img-slider .slide .info {
    padding: 15px 30px;
  }

  .img-slider .slide img {
    z-index: 1;
    width: 100%;
    height: 300px;
    border-radius: 7px;
    border: #7d42fd solid 4px;
  }

  .img-slider .slide .info h2 {
    font-size: 65px;
  }

  .img-slider .slide .info p {
    width: 75%;
    font-size: 35px;
  }

  .img-slider .navigation {
    margin: auto;
    bottom: 10px;
    left: 95%;
  }

  .topseen {
    top: 45%;
  }
  .gamestab {
    top: 45%;
  }

  .img-slider .slide .info .info-button {
    position: relative;
    bottom: -50px;
    left: -6px;
  }
}

@media (max-width: 850px) {
  .img-slider {
    width: 750px;
    height: 375px;
  }

  .img-slider .slide .info {
    padding: 10px 25px;
  }

  .img-slider .slide .info h2 {
    font-size: 35px;
  }

  .img-slider .slide .info p {
    width: 70%;
    font-size: 15px;
  }

  .img-slider .navigation {
    bottom: 135px;
    left: 13%;
  }

  .img-slider .navigation .btn {
    width: 10px;
    height: 10px;
    margin: 8px;
  }
}

@media (max-width: 775px) {
  .img-slider {
    width: 700px;
    height: 375px;
  }

  .img-slider .slide .info {
    padding: 10px 25px;
  }

  .img-slider .slide .info h2 {
    font-size: 35px;
  }

  .img-slider .slide .info p {
    width: 70%;
    font-size: 15px;
  }

  .img-slider .navigation {
    bottom: 135px;
    left: 13%;
  }

  .img-slider .navigation .btn {
    width: 10px;
    height: 10px;
    margin: 8px;
  }
}

@media (max-width: 725px) {
  .img-slider {
    width: 675px;
    height: 375px;
  }

  .img-slider .slide .info {
    padding: 10px 25px;
  }

  .img-slider .slide .info h2 {
    font-size: 35px;
  }

  .img-slider .slide .info p {
    width: 70%;
    font-size: 15px;
  }

  .img-slider .navigation {
    bottom: 135px;
    left: 13%;
  }

  .img-slider .navigation .btn {
    width: 10px;
    height: 10px;
    margin: 8px;
  }
}

@media (max-width: 620px) {
  .img-slider {
    width: 550px;
    height: 250px;
  }

  .img-slider .slide .info {
    padding: 10px 20px;
  }

  .img-slider .slide .info h2 {
    font-size: 30px;
  }

  .img-slider .slide .info p {
    width: 80%;
    font-size: 13px;
  }

  .img-slider .navigation {
    bottom: 15px;
    left: 12%;
  }

  .img-slider .navigation .btn {
    width: 8px;
    height: 8px;
    margin: 6px;
  }
}

@media (max-width: 420px) {
  .img-slider {
    width: 600px;
    height: 375px;
  }

  .img-slider .slide .info {
    padding: 10px 25px;
  }

  .img-slider .slide .info h2 {
    font-size: 35px;
  }

  .img-slider .slide .info p {
    width: 70%;
    font-size: 15px;
  }

  .img-slider .navigation {
    bottom: 25px;
  }

  .img-slider .navigation .btn {
    width: 10px;
    height: 10px;
    margin: 8px;
  }
}

@media (max-width: 420px) {
  .img-slider {
    width: 320px;
    height: 200px;
  }

  .img-slider .slide .info {
    padding: 5px 10px;
  }

  .img-slider .slide .info h2 {
    font-size: 25px;
  }

  .img-slider .slide .info p {
    width: 90%;
    font-size: 11px;
  }

  .img-slider .navigation {
    bottom: 10px;
  }
}
