::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jersey 10", sans-serif;
}

body {
  color: #f2f2f2;
  background-color: #1a1a1a;
  background-image: url('/images/BG.jpg');

  font-family: "Teko", sans-serif;
  font-style: normal;
  font-size: 50px;

  display: flex;
  justify-content: center;

  margin: auto;
  overflow: hidden;
}

.Background-image {
  position: fixed;

  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  opacity: 1;
  transition: opacity 0.3s ease-out;
  z-index: -3;
}

.welcome {
  position: absolute;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;

  top: 0%;
}

.Spargles-logo {
  position: relative;
  margin: auto;

  width: 44vw;
  height: relative;

  animation-duration: 1s;
  animation-name: Slide-In;
}

@keyframes Slide-In {
  from {
    transform: translate(0, 0) scale(0, 0) rotate(180deg);
  }

  to {
    transform: translate(0, 0) scale(1, 1) rotate(0deg);
  }
}

.Fade-Scroll {
  position: absolute;
  bottom: 1vh;

  font-size: 2vw;
  text-align: center;
  font-family: "Teko", sans-serif;

  animation-duration: 1.5s;
  animation-name: scrollfade;
  animation-iteration-count: infinite;
  animation-direction: alternate;

  opacity: 1;
  transition: opacity 2.5s ease-out;
}

@keyframes scrollfade {
  from {
    color: rgba(255, 255, 255, 0.35);
  }

  to {
    color: rgba(255, 255, 255, 0);
  }
}

.fade-text {
  transition: opacity 1s ease-out;
}

.scroll-area {
  position: relative;
  top: 8vw;
  width: 200px;
  height: 200px;
  border-radius: 8px;
  opacity: 0;
  transform: scale(1.2);
}

.mascot {
  position: absolute;
  bottom: 0%;
  right: 0%;
  width: 22vw;
  height: auto;
}

.mascot img {
  position: relative;
  /* change from absolute */
  width: 100%;
  height: auto;
  cursor: pointer;
  transition: transform 0.15s ease;
  z-index: 22;
}

.corner {
  position: absolute;
  top: 9%;
  left: -2%;
  width: 45%;
  height: 35%;
  pointer-events: none;
  z-index: 23;

  display: flex;
  justify-content: center;
  align-items: center;
}

.mascot img.active {
  transform: scale(0.975);
}

.mascot img.pop {
  transform: scale(1.2);
}

.mascot-text {
  position: absolute;
  font-family: "Jersey 10", sans-serif;
  width: 55%;

  text-align: center;
  color: #111;
  font-size: 1.5vw;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: left;

  z-index: 200;
  pointer-events: none;
}
