.module1 {
    position: absolute;
    width: 100%;
    height: 100%;
    margin-top: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../images/BG.png');
    background-size: cover;
}

.module1overylay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../images/overlay.png');
    background-size: cover;
}

.bgglow {
    position: absolute;
    width: 210%;
    height: 290%;
    top: -0.10vh;
    left: -55%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.module1 .Mtitle {
    position: absolute;
    top: 2vh;
    font-size: 6vh;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    background-image: linear-gradient(to right, #75ffd8, #73d5ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: 600;
}

.module1 .MtitleSub {
    position: absolute;
    top: 11vh;
    font-size: 2.5vh;
    letter-spacing: .6vw;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    background-image: linear-gradient(to right, #75ffd8, #73d5ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.DescriptionBox {
    position: absolute;
    width: 30%;
    height: 60%;
    right: 5%;
    bottom: 11vw;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.BottomDescriptionBox {
    position: absolute;
    width: 55%;
    height: 10%;
    left: 5%;
    bottom: 5%;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    position: relative;
    left: -35%;
    width: 15%;
    height: auto;

}

.Display {
    background-color: rgba(0, 255, 191, 0.1);
    backdrop-filter: blur(1px);
    width: 22.5%;
    height: 100%;
    margin: auto;
    border-radius: 10px;
    outline: rgba(0, 255, 191, 0.7) 3px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: #a1ffe4 0 0 10px;

}

.DisplayTxtTitle {
    position: absolute;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    background-image: linear-gradient(to right, #75ffd8, #73d5ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 1.3vw;
    top: 25%;
    font-weight: 800;
    margin-left: 5%;
}

.DisplayTxt {
    position: absolute;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    color: rgba(255, 255, 255, 0.7);
    font-size: 1vw;
    top: 50%;
    font-weight: 800;
    margin-left: 5%;
}

.Mdescription {
    position: absolute;
    width: 100%;
    top: 20%;
    left: 0%;

    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-size: 1vw;
    text-indent: 10%;

    color: white;
}

.ModuleVideo {
    position: absolute;
    margin-right: 35%;
    width: 55vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: #2ee5b1 0 0 20px;
    outline: 3px #2ee5b1 solid;
}

.Trailer {
    z-index: 2;
    position: absolute;
}

.logo {
    width: 20vw;
    height: auto;
    z-index: 2;
    position: absolute;
    margin-left: 0%;
    margin-top: -50vh;
}

.DisplayBoxBg {
    position: absolute;
    top: 20.5vw;
    width: 100%;
    height: 30%;
    border-radius: 20px;
    background-image: linear-gradient(to right, #75ffd8, #73d5ff);
    display: flex;
    justify-content: center;
    align-items: center;
}

.DisplayBox {
    position: relative;
    width: 99%;
    height: 97%;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon1 {
    position: relative;
    width: 30%;
    top: 0;
    height: auto;
}

.Display1 {
    width: 33%;
    height: 100%;
    margin: auto;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.db1 {
    border-left: #2ee5b1 1px solid;
}

.DisplayTxtTitle1 {
    position: absolute;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    background-image: linear-gradient(to right, #75ffd8, #73d5ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 40%;
    top: 10%;
    font-weight: 800;
}

.DisplayTxt1 {
    position: absolute;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    color: rgba(255, 255, 255, 0.7);
    font-size: .8vw;
    text-align: center;
    bottom: 5%;
    font-weight: 800;
}

.DisplayBoxBg2 {
    position: absolute;
    top: 101%;
    width: 100%;
    height: 20%;
    border-radius: 20px;
    background-image: linear-gradient(to right, #75ffd8, #73d5ff);
    display: flex;
    justify-content: center;
    align-items: center;
}

.DisplayBox2 {
    position: relative;
    width: 99%;
    height: 97%;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 2vw;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
}

sup {
    font-size: 2vw;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
}

sup.descsup {
    font-size: .5vw;
}

.highlight {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-size: 1vw;
    text-indent: 10%;
    background-image: linear-gradient(to right, #2ee5b1, #00b3ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: 700;
}

.White {
    color: #ffffff;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
}

.hoverclick:hover {
    color: #00b3ff;
    cursor: pointer;
}
