::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jersey 10", sans-serif;
}

body {
  color: #f2f2f2;
  background-color: #1a1a1a;
  background-image: url('/images/BG.jpg');

  font-family: "Teko", sans-serif;
  font-style: normal;
  font-size: 50px;

  display: flex;
  justify-content: center;

  margin: auto;
}

.bg-img {
  position: fixed;

  width: 100%;
  height: 100%;

  opacity: 1;
  /* Start at 100% opacity */
  transition: opacity 0.3s ease-out;
  /* Smooth transition */
}

.welcome-gif {
  position: absolute;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;

  top: 0%;
}

.welcome-table-image {
  position: relative;
  margin: auto;

  width: 44vw;
  height: relative;

  animation-duration: 3s;
  animation-name: slide-in-welcome-image;
}

@keyframes slide-in-welcome-image {
  from {
    translate: 150vw 0;
    scale: 200% 1;
  }

  to {
    translate: 0 0;
    scale: 100% 1;
  }
}

.Fade-Scroll-Text {
  position: absolute;
  bottom: 1vh;

  font-size: 2vw;
  text-align: center;
  font-family: "Teko", sans-serif;

  animation-duration: 1.5s;
  animation-name: scrollfade;
  animation-iteration-count: infinite;
  animation-direction: alternate;

  opacity: 1;
  transition: opacity 2.5s ease-out;
}

@keyframes scrollfade {
  from {
    color: rgba(255, 255, 255, 0.35);
  }

  to {
    color: rgba(255, 255, 255, 0);
  }
}

.fade-text {
  transition: opacity 1s ease-out;
}

.fade-element {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.Scroll-Content-Text-Title {
  position: relative;

  width: 35vw;
  height: 12vh;

  margin-left: auto;
  margin-right: auto;

  justify-content: center;
  display: flex;
}

.Title-Img {
  position: absolute;
  width: 85%;

  bottom: -15vh;
}

.scroll-area {
  position: relative;
  top: 8vw;
  width: 200px;
  height: 200px;
  border-radius: 8px;
  opacity: 0;
  transform: scale(1.2);
}

.scroll-section-anchor {
  position: relative;

  width: 100%;
  height: 70%;

  margin-top: 4.5%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.scroll-section {
  position: relative;
  width: 20%;
  height: 86%;

  margin-top: 2%;
  margin: 2.5%;

  border-radius: 10px;
  z-index: 100;

  outline: #ffffff solid 2px;
  transition: .25s;
}

.scroll-section:hover {
  box-shadow: 0 0 20px 5px #ffffff;
  border-radius: 50px;
  ;
  background: white;
}

.scrollnavbutton {
  height: 100%;
  width: 100%;

  margin-left: auto;
  margin-right: auto;

  color: #f2f2f2;

  position: relative;
  bottom: -6.5vh;

  display: flex;
  justify-content: center;
  text-align: center;
  align-items: flex-end;

  border-radius: 9px;

  background: transparent;
  font-family: "Bebas Neue", sans-serif;
  font-size: 1.7vw;

  cursor: pointer;
}

.scrollnavbutton P {
  font-family: "Bebas Neue", sans-serif;
  border-radius: 5px;

  width: 80%;

  transition: 0.25s;
}

.scrollnavbutton p:hover {
  box-shadow: 0 0 20px 5px #ffffff;
  background: white;
  color: black;
}


.Scroll-Content1 {
  position: absolute;
  bottom: -100%;
  left: 0%;

  width: 100%;
  height: 100%;

  justify-content: center;
}

.Scroll-Content2 {
  position: absolute;
  bottom: -175%;
  left: 0%;

  width: 100%;
  height: 75%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.Scroll-Content3 {
  position: absolute;
  bottom: -215%;
  left: 0%;

  width: 100%;
  height: 35%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.mascot img {
  position: absolute;
  width: 20vw;
  height: auto;

  bottom: 10%;
  right: -2%;

  margin-left: auto;
  margin-right: auto;

  border-radius: 150px;
  cursor: pointer;

  transition: transform 0.15s ease;
}

.mascot img.active {
  transform: scale(0.9);
}

.mascot img.pop {
  transform: scale(1.2);
}

.Content-Wrapper {
  position: absolute;
  top: 0%;
  left: 0%;

  width: 85%;
  height: 100%;

  display: flex;
  justify-content: right;
  align-items: center;
}

.Content-Wrapper .content-image {
  position: relative;
  width: 60%;
  height: 75%;

  margin-left: 2vw;
  margin-top: 4.5%;
  margin-right: auto;
  margin-bottom: auto;

  border-radius: 100px;
  transition: 0.2s ease;
}

.content-image img {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: center;
  border-radius: 60px;
}

.Content-Wrapper .content-text {
  position: absolute;
  width: 30%;
  height: 60%;

  right: 4%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  border-radius: 20px;

  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(6px);
}

.content-text .title {
  font-family: "Teko", sans-serif;
  font-style: normal;
  font-size: 2vw;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.9),
    0 0 20px rgba(255, 255, 255, 0.8);
}

.content-text p {
  font-family: "Teko", sans-serif;
  font-style: normal;
  font-size: 1.5vw;
  padding: 5%;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.9),
    0 0 20px rgba(255, 255, 255, 0.8);
}

.content-text .signature {
  font-family: "Teko", sans-serif;
  font-style: normal;
  font-size: 1.2vw;
  padding: 5%;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.9),
    0 0 20px rgba(255, 255, 255, 0.8);
}

.MusicBox {
  position: absolute;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  border-radius: 20px;

  backdrop-filter: blur(6px);
}

.MusicBox .MusicPlayer {
  position: relative;
  width: 30%;
  height: 60%;

  margin-top: 4.5%;
  margin-bottom: auto;

  border-radius: 100px;
  transition: 0.2s ease;

  display: flex;
  justify-content: center;
  align-items: center;
}

.MusicPlayer img {
  width: 22vw;
  height: 22vw;
  background-size: contain;
  background-position: center;
  border-radius: 10px;
  box-shadow: #ffffff 0px 0px 30px;
  outline: #ffffff solid 2px;
  transition: .5s ease;
}

.Play-Audio {
  position: absolute;
  width: 6vw;
  height: 6vw;

  font-size: 3vw;
  color: #f2f2f2;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 10px;
  backdrop-filter: blur(25px) brightness(300%);

  cursor: pointer;
  transition: .5s;
}

.Play-Audio:hover {
  backdrop-filter: blur(15px) brightness(300%);
}

.Play-Audio2 {
  position: absolute;
  width: 6vw;
  height: 6vw;

  font-size: 3vw;
  color: #f2f2f2;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 10px;
  backdrop-filter: blur(25px) brightness(400%);

  cursor: pointer;
}

.Play-Audio2:hover {
  backdrop-filter: blur(15px) brightness(300%);
  transition: .5s;
}

.Play-Audio3 {
  position: absolute;
  width: 6vw;
  height: 6vw;

  font-size: 3vw;
  color: #f2f2f2;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 10px;
  backdrop-filter: blur(25px) brightness(150%);

  cursor: pointer;
  transition: .5s;
}

.Play-Audio3:hover {
  backdrop-filter: blur(15px) brightness(150%);
}
