.BottomDescriptionBox {
    position: absolute;
    width: 85%;
    height: 10%;
    left: 8vw;
    top: 80.5vw;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 62vw;
    height: auto;
    z-index: 2;
    position: absolute;
    top: 82.5vw;
}
