.Background-image {
    position: fixed;

    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    opacity: 1;
    transition: opacity 0.3s ease-out;
    z-index: -3;
    background-size: contain;
    background-position: center;
}

.Spargles-logo {
    position: relative;
    margin: auto;

    width: 90vw;
    height: relative;

    animation-duration: 1s;
    animation-name: Slide-In;
}

.navbar {
    position: absolute;
    top: 0;

    width: 100%;
    height: 6%;

    background-color: #ffffff2f;

    display: flex;
    flex-wrap: row;
    justify-content: center;
    align-items: center;

    box-shadow: 0 0 15px 5px #ffffff48;
    outline: #ffffff22 1px solid;
    border-radius: 0px;
}

.navbutton {
    position: relative;
    height: 70%;
    width: 8vw;

    color: #f2f2f2;
    background-color: #9d00ff67;

    display: flex;
    justify-content: center;
    text-align: center;
    align-items: flex-end;

    background: transparent;
    font-family: "Bebas Neue", sans-serif;
    font-size: 3.6vw;

    border-radius: 12px 12px 12px 12px;

    margin-right: 0px;
    margin: 3vw;

    cursor: pointer;
    transition: 0.5s;
}
