/* GLOBAL */

html {
    scroll-snap-type: y mandatory;
    /* smooth section snapping */
}

body {
    margin: 0;
    padding: 0;
}

/* BACKGROUND */

.Background-image {
    position: fixed;
    width: 100%;
    height: 100dvh;
    top: 0;
    left: 0;

    z-index: -3;
    background-size: contain;
    background-position: center;
}

/* NAVBAR */

.navbar {
    position: fixed;
    top: 0;

    width: 100%;
    height: 6dvh;

    background-color: #ffffff2f;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 1000;

    box-shadow: 0 0 15px 5px #ffffff48;
    outline: #ffffff22 1px solid;
}

.navbutton {
    height: 70%;
    width: 8dvw;

    display: flex;
    justify-content: center;
    align-items: flex-end;

    font-family: "Bebas Neue", sans-serif;
    font-size: 3.6dvw;

    border-radius: 12px;
    margin: 3dvw;

    cursor: pointer;
}

/* SECTIONS */

.module {
    width: 100%;
    min-height: 100dvh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-size: cover;

    scroll-snap-align: start;
    position: relative;
}

/* INDIVIDUAL MODULE BACKGROUNDS */

.module1 {
    background-image: url('../images/BG.png');
}

.module2 {
    background-image: url('../images/BG1.png');
}

/* CONTENT */

.ModuleVideo {
    margin-top: 10dvh;
    width: 85dvw;

    border-radius: 10px;
    box-shadow: #2ee5b1 0 0 20px;
    outline: 3px #2ee5b1 solid;
}

/* TITLES */

.Mtitle {
    margin-top: 2dvh;
    font-size: 5dvw;

    font-family: "Orbitron", sans-serif;
    background-image: linear-gradient(to right, #75ffd8, #73d5ff);
    -webkit-background-clip: text;
    background-clip: text;

    color: transparent;
}

.MtitleSub {
    margin-top: 1dvh;
    font-size: 4dvw;
    letter-spacing: 0.6dvw;

    font-family: "Orbitron", sans-serif;
    background-image: linear-gradient(to right, #75ffd8, #73d5ff);
    -webkit-background-clip: text;
    background-clip: text;

    color: transparent;
}

/* LOGO */

.logo {
    width: 65dvw;
    margin-top: 5dvh;
}

/* DESCRIPTION */

.Mdescription {
    width: 90dvw;
    margin-top: 2dvh;

    font-family: "Orbitron", sans-serif;
    font-size: 3.6dvw;
    text-indent: 10%;

    color: white;
}

/* HIGHLIGHT */

.highlight {
    font-size: 3.6dvw;

    background-image: linear-gradient(to right, #2ee5b1, #00b3ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: 700;
}

/* DISPLAY BOX */

.Display {
    background-color: rgba(0, 54, 41, 0.5);
    backdrop-filter: blur(1px);

    width: 22.5%;
    height: 100%;

    border-radius: 10px;
    outline: rgba(0, 255, 191, 0.7) 3px solid;

    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: #a1ffe4 0 0 10px;
}

/* TEXT */

.DisplayTxtTitle {
    font-size: 3dvw;
}

.DisplayTxt {
    font-size: 2.25dvw;
}
